* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(232, 232, 235);
}
.header {
  width: 1680px;
  height: 134px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 100px;
}
.header-logo img {
  height: 134px;
}
.header-nav ul {
  list-style-type: none;
}
.header-nav ul li {
  display: inline;
  position: relative;
  margin-right: 100px;
}
.header-nav ul li:last-child {
  margin-right: 0;
}
.header-nav ul li a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.header-userName {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.logout:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.header-icon a {
  margin-right: 10px;
  color: white;
}

.header-icon a:last-child {
  margin-right: 30px;
}
.header-icon a img {
  width: 30px;
  height: 30px;
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1050;
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgb(0, 0, 0, 0.2);
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 0 20px;
  outline: 0;
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.header-userName span {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid rgba(248, 245, 245, 0.2);
  box-shadow: 0 4px 5px rgba(77, 76, 76, 0.2);
  transition: 0.3s all;
  outline: 0;
}
.header-logout {
  width: 60px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(248, 245, 245, 0.2);
  box-shadow: 0 4px 5px rgba(77, 76, 76, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
}
.header-logout a {
  text-decoration: none;
  color: black;
}
.tabcontainer {
  width: 1680px;
  height: 738px;
  margin: 0 auto;
  display: flex;
}

.tabcontent img {
  width: 900px;
  height: 620px;
  position: relative;
  left: 200px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.tabcontent-description {
  width: 550px;
  height: 260px;
  background: rgba(213, 211, 209, 0.8);
  z-index: 1;
  position: relative;
  left: 800px;
  bottom: 150px;
  padding: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.tabheader {
  width: 300px;
  height: 200px;
  padding: 35px 30px;
  position: relative;
  top: 97px;
  left: 300px;
}
.tabheader__title {
  width: 150px;
}
.tabheader h3 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(5, 0, 0);
}
.tabheader__item {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s all;
}
.tabheader__item_active {
  color: #000;
  font-size: 20px;
}
.getDialog a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(248, 245, 245, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}
.card__container {
  display: flex;
  row-gap: 3.5rem;
  margin: 0 auto;
}
.card__article {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}
.card__article:last-child {
  margin-right: 0;
}
.card__img {
  width: 358px;
  height: 300px;
  border-radius: 1.5rem;
}
.card__data {
  width: 280px;
  background-color: rgb(240, 239, 239);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px rgb(red, green, blue, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -6rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  margin-bottom: 25rem;
}

.card__button {
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.card__button:hover {
  text-decoration: underline;
}
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow forwards;
}
.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}
.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}
.bgc_blue {
  position: absolute;
  right: 0;
  top: -155px;
  width: 50vw;
  height: 900px;
  background: rgba(146, 242, 255, 0.15);
  z-index: -1;
}
.btn {
  border: none;
  background-color: rgb(232, 232, 235);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
}

@keyframes show-data {
  50% {
    transform: translateY(-11rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(-11rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

.modal__subject {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__subject__block {
  max-width: 1000px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  margin-right: 30px;
  text-align: center;
  overflow: hidden;
}
.modal__content img {
  width: 918px;
  height: 733px;
  border-radius: 1.5rem;
}

* {
  box-sizing: border-box;
}

.modal__container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 59, 59, 0.5);
  z-index: 1050;
  left: 0;
  top: 0;
}

.modal__block {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 15%;
  transition-duration: 3s;
}
.modal__block img {
  width: 700px;
  height: 700px;
  border-radius: 10px;
}
.modal__close {
  color: #fff;
  font-size: 25px;
  position: relative;
  bottom: 100%;
  left: 48%;
  font-weight: bold;
  cursor: pointer;
  z-index: 11;
}

.container_img {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container_img img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-right: 30px;
}
.container_img img:last-child {
  margin-right: 0;
}
.modal__link-addpost {
  position: absolute;
  right: 500px;
  animation: blocks-link 0.5s;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.modal__link-dialog {
  position: absolute;
  left: 450px;
  color: white;
  font-weight: bold;
  animation: blocks-dialog 1s;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
@keyframes blocks-link {
  0% {
    bottom: -625px;
  }
  40% {
    bottom: -625px;
  }
  70% {
    bottom: -625px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes blocks-dialog {
  0% {
    bottom: -625px;
  }
  40% {
    bottom: -625px;
  }
  70% {
    bottom: -625px;
  }
  100% {
    bottom: 0;
  }
}

.wrapperposts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerpost {
  width: 700px;
  height: 300px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 4px #000;
}
.headposts {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}
.comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.comment__title1,
.comment__title2 {
  font-size: 30px;
}
.comment__title2 span {
  font-size: 25px;
  margin-right: 5px;
}
.comment__title2 {
  text-decoration: none;
  color: white;
}
.comment__title2 {
  font-size: 15px;
}

.commentboxposts {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.contentposts {
  width: 100%;
}
.contentposts h2 {
  margin-bottom: 30px;
}

.commentinputposts > .usercommentposts {
  width: 95%;
  border: none;
  padding: 10px;
  padding-left: 0;
  outline: none;
  border-bottom: 2px solid blue;
  margin-bottom: 30px;
  word-wrap: break-word;
}
.buttonsposts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
}
.buttonsposts > button {
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #808080;
  cursor: pointer;
  border-radius: 3px;
  background: lightgray;
}

.containerposts {
  width: min(90%, 1150px);
  margin: 3rem auto;
}
.comment__container {
  position: relative;
  margin-bottom: 10px;
}
.comment__container::before {
  content: "";
  background-color: grey;
  width: 1px;
  min-height: 100%;
  left: -10px;
  position: absolute;
}
.comment__container:not(:first-child) {
  margin-left: 3rem;
  margin-top: 1rem;
}

.comment__card {
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(16, 5, 5, 0.3);
  border-radius: 0.5rem;
  min-width: 100%;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}
.comment__card h3,
.comment__card p {
  margin-bottom: 1rem;
}
.comment__card p {
  font-size: 22px;
}
.changeposts {
  min-width: 100%;
  height: 5vh;
  font-size: 22px;
}
.comment__footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  opacity: 0.6;
  align-items: center;
  gap: 30px;
}

.show__replays {
  text-decoration: none;
  color: black;
}
.show__replays:hover {
  text-shadow: rgb(43, 0, 255) 1px 0 10px;
}
.delete__post,
.put__post {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 20px;
  text-decoration: none;
}
.put__post {
  margin-right: 20px;
}

.modal__comment__container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 59, 59, 0.5);
  z-index: 1050;
  left: 0;
  top: 0;
}
.modal__comment__block {
  width: 700px;
  height: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-40%);
  transform: translateX(-50%);
}

.form__add__comment {
  position: relative;
  bottom: 30px;
}
.add__comment {
  width: 600px;
  height: 90px;
  border-radius: 5px;
  font-size: 25px;
}
.btn__comment {
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #808080;
  cursor: pointer;
  border-radius: 3px;
  background: lightgray;
  position: relative;
  left: 10px;
  bottom: 20px;
}
.modal__comment__close {
  color: #fff;
  font-size: 40px;
  position: relative;
  bottom: 100%;
  left: 90%;
  font-weight: bold;
  cursor: pointer;
  z-index: 12;
  top: 10px;
  text-decoration: none;
}
.changepost {
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(16, 5, 5, 0.3);
  border-radius: 0.5rem;
  min-width: 100%;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  min-height: 10vh;
  font-size: 22px;
}

.changeComments {
  width: 957px;
  height: 83px;
  border: 2px solid white;
  font-size: 22px;
}

.btnComment {
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #808080;
  cursor: pointer;
  border-radius: 3px;
  background: lightgray;
  position: absolute;
  right: 450px;
  top: 68px;
}

.fa-thumbs-up,
.fa-thumbs-down {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.like__block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa {
  margin-right: 25px;
  position: relative;
  right: 200px;
  bottom: 85px;
}
.thumbs__like__active {
  color: red;
}

.author__info {
  display: flex;
}
.author__time {
  width: 200px;
  position: relative;
  font-size: 13px;
}
.author__time span {
  font-weight: 700;
}

.author__name {
  width: 200px;
  position: relative;
  font-size: 13px;
}
.author__name span {
  font-weight: 700;
  text-transform: uppercase;
}
.like__thumbs, .dislike__thumbs {
  position: relative;
  right: 220px;
  bottom: 85px;
}

